<h3>Đơn hàng delay</h3>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mã vận đơn</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Lý do</th>
            <th scope="col">Tiền thu hộ</th>
            <th scope="col">Thông tin xử lý</th>
        </tr>
    </thead>

    <div id="divlist">
        <% trackings.forEach(function(tracking, index){ %>
            <tbody id="list">

                <th scope="row">
                    <%= index + 1%>
                </th>
                <td>
                    <%=tracking.label_id%>
                </td>

                <% for(let i = 0; i < status.length; i++){ %>
                    <% if(status[i].status_id == tracking.arrJson[tracking.arrJson.length - 1].status_id ){ %>
                        <td>
                            <%= status[i].description %>
                        </td>
                        <% } %>
                            <% } %>

                                <td style="color:red">
                                    <% tracking.arrJson.forEach((arr, i) => { %>
                                        Lần
                                        <%= i + 1%>:
                                            <%= arr.reason %>. Thời gian:
                                                <%= arr.action_time %>
                                                    <br />
                                                    <% }) %>
                                </td>
                                <td>
                                    <% tracking.arrJson.forEach((arr, i) => { %>
                                        Lần
                                        <%= i + 1%>:
                                            <%= arr.pick_money %>
                                                <br />
                                                <% }) %>
                                </td>
                                <td>
                                    <% if(tracking.arrHandling){ %>
                                        <% tracking.arrHandling.forEach((h, i) => { %>
                                            Lần
                                            <%= i + 1%>:
                                                <%= h %>
                                                    <br />
                                                    <% }) %>
                                                        <% } %>

                                                            <form action="handling" method="post" class="form-group">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" name="message">
                                                                    <input type="text" class="form-control" name="label_id" style="display: none" value="<%= tracking.label_id%>">
                                                                </div>

                                                                <button class="btn btn-success" id="save">Save</button>
                                                            </form>

                                </td>
            </tbody>
            <% })%>

            <script>
            $('#save').click(function() {
                location.reload(true);
            });
            </script>
    </div>


    </script>
</table>


<div id="mylist">
    <ul>
        <% trackings.forEach(function(tracking){ %>
            <li>
                <%=tracking.label_id%>
            </li>
            <ul data-id="<%=tracking.status_id%>">
                <% tracking.arrJson.map((a)=>{ %>
                    <li>
                        <%=a.reason  %>
                    </li>
                    <li>
                        <%=a.pick_money  %>
                    </li>
                    <%})%>
            </ul>
            <% })%>
    </ul>
</div>


<script>
    var objstatus = JSON.stringify(status);

    function postMessage() {
        io.socket.post('/api/tracking', { message: 'abc' }, function (resData, jwRes) {
            if (jwRes.statusCode != 200) {
                console.log('bad req')
            } else {
                console.log('good req')
            }
        })
    }
    io.socket.on('new-tracking', function (msg) {
        console.log(msg);
        
        const { newTracking } = msg;

        const tbody = `<tbody>`;
        const tbodyEnd = `</tbody>`;
        const th = `<th></th>`;

        const label = `<td>` + newTracking.label_id + `</td>`;
            const statusTracking = `<% for(let i = 0; i <` + status.length + `; i++){ %>
                        <% if( ` + status[i].status_id + `== ` + newTracking.arrJson[  newTracking.arrJson.length - 1].status_id + ` ){ %>
                            <td>
                                <%= ` + status[i].description + ` %>
                            </td>
                            <% } %>
                                <% } %>`;

      

        // let li = `<li>
        //     ${label}
        // </li>
        // <ul>` + `<li>
        //             ${status}
        //         </li>
        //         <li>
        //                 ${reason}
        //         </li>
        //         <li>
        //                 ${pickMoney}
        //         </li>
        //         <li>
        //                 ${handle}
        //         </li>
        // </ul>` 

        let insert = ` `;

        $("tbody:eq(0)").before(tbody + th + label + status1 +tbodyEnd);

        // $("#mylist li:eq(0)").before(li);

    });

    io.socket.on('update-tracking', function (msg) {

        const { updatedTracking, status } = msg;
        console.log(updatedTracking)

        const label = updatedTracking.label_id;
        const status = updatedTracking.status_id;
        const reason = updatedTracking.arrJson[updatedTracking.arrJson.length - 1].reason;
        const pickMoney = updatedTracking.arrJson[updatedTracking.arrJson.length - 1].pick_money;
        const handle = updatedTracking.arrHandling ? updatedTracking.arrHandling : "";

        let li = `<li>
            ${label}
        </li>
        <ul>` + `<li>
                    ${status}
                </li>
                <li>
                        ${reason}
                </li>
                <li>
                        ${pickMoney}
                </li>
                <li>
                        ${handle}
                </li>
        </ul>`

        $("#mylist li:eq(0)").before(li);
    });
    postMessage();
</script>