
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mã vận đơn</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Lý do</th>
                <th scope="col">Tiền thu hộ</th>
                <th scope="col">Thông tin xử lý</th>
            </tr>
        </thead>

        <% trackings.forEach(function(tracking, index){ %>
            <tbody>
                <th scope="row">
                    <%= index + 1%>
                </th>
                <td>
                    <%=tracking.label_id%>
                </td>

                <% for(let i = 0; i < status.length; i++){ %>
                    <% if(status[i].status_id == tracking.arrJson[tracking.arrJson.length - 1].status_id ){ %>
                        <td>
                            <%= status[i].description %>
                        </td>
                        <% } %>
                            <% } %>

                                <td style="color:red">
                                    <% tracking.arrJson.forEach((arr, i) => { %>
                                        Lần
                                            <%= i + 1%>:
                                            <%= arr.reason %>. Thời gian: <%= arr.action_time %>
                                        <br />
                                    <% }) %>
                                </td>
                                <td>
                                    <% tracking.arrJson.forEach((arr, i) => { %>
                                        Lần
                                         <%= i + 1%>: <%= arr.pick_money %> 
                                        <br />
                                    <% }) %>
                                </td>
                                <td>
                                    <!-- <span class="input-group-btn">
                        <button type="button" id="btn" onclick="myFunction()" class="btn btn-default">Xử lý</button>
                    </span> -->
                                    <% if(tracking.arrHandling){ %>
                                        <% tracking.arrHandling.forEach((h, i) => { %>
                                            Lần
                                            <%= i + 1%>: <%= h %> 
                                            <br />
                                        <% }) %>
                                    <% } %>

                                    <% if(me){ %>
                                        <form action="handling" method="post" class="form-group">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="message">
                                                <input type="text" class="form-control" name="label_id" style="display: none" value="<%= tracking.label_id%>">
                                            </div>

                                            <button class="btn btn-success" id ="save" >Save</button>
                                        </form>
                                    <% } %>
                                                            

                                </td>
            </tbody>
            <% })%>
                <script>
                    $('#save').click(function() {
                        location.reload(true);
                    });
                </script>
                
    </table>
