<h2 style="color:black">Vận đơn</h2>
<div>
    <h4 id="total">Tổng:
        <%= trackings.length %>
    </h4>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Mã vận đơn</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Lý do</th>
            <th scope="col">Tiền thu hộ</th>
            <th scope="col">Thông tin xử lý</th>
        </tr>
    </thead>

    <div id="divlist">
        <% trackings.forEach(function(tracking, index){ %>
            <tbody id="list">

                <td>
                    <%=tracking.label_id%>
                </td>

                <% for(let i = 0; i < status.length; i++){ %>
                    <% if(status[i].status_id == tracking.arrJson[tracking.arrJson.length - 1].status_id ){ %>
                        <td id="status<%=tracking.label_id%>">
                            <%= status[i].description %>
                        </td>
                        <% } %>
                            <% } %>

                                <td style="color:red" id="reason<%=tracking.label_id%>">
                                    <% tracking.arrJson.forEach((arr, i) => { %>
                                        <span style="color:blue">Lần
                                            <%= i + 1%>:</span>

                                        <%= arr.reason %>
                                            (<%= arr.action_time %>)
                                                <br />
                                                <% }) %>
                                </td>
                                <td id="pickMoney<%=tracking.label_id%>">
                                    <% tracking.arrJson.forEach((arr, i) => { %>
                                        <span style="color:blue">Lần
                                            <%= i + 1%>:</span>
                                        <%= arr.pick_money %>
                                            <br />
                                            <% }) %>
                                </td>
                                <td >
                                    <div id=<%= tracking.label_id %> >
                                        <% if(tracking.arrHandling){ %>
                                            <% tracking.arrHandling.forEach((h, i) => { %>
                                                <span style="color:blue">Lần <%= i + 1 %>: </span>
                                                    <%= h %>
                                                    <br />
                                            <% }) %>
                                        <% } %>
                                    </div>
                                        <input type="text" class="a" name="message" id="handling<%= tracking.label_id %>"   >
                                        <button class="btn btn-success" value=<%= tracking.label_id %> onclick="saveMessage(this.value)" >Save</button>                                                 
                                </td>
            </tbody>
            <% })%>

    </div>


</table>
<script>

    function postMessage() {
        io.socket.post('/api/tracking', { message: 'thông điệp' }, function (resData, jwRes) {
            if (jwRes.statusCode != 200) {
                console.log('bad req')
            } else {
                console.log('good req')
            }
        })
    }

    function saveMessage(label_id) {

        const messageSocket = document.getElementById("handling" + label_id).value;

        console.log(messageSocket);  //undefined
        io.socket.post('/handling', { messageSocket, label_id }, function (body, response) {
        });
    }


    io.socket.on('server-send-Message', function (msg) {

        const { updatedTracking } = msg;

        // alert(document.getElementById(updatedTracking.label_id).innerHTML);

        let handling = "";

        updatedTracking.arrHandling.forEach((h, i) => {
            handling += "<span style='color:blue'>Lần " + ++i + ": </span>" + h + "<br />";
        })
        const hand = ` <div id=${updatedTracking.label_id}> ${handling} </div> `;

        document.getElementById(updatedTracking.label_id).innerHTML = hand;

    }),

        io.socket.on('new-tracking', function (msg) {

            const { newTracking } = msg;

            const tbody = `<tbody>`;
            const tbodyEnd = `</tbody>`;
            const th = `<th></th>`;
            const label = `<td>${newTracking.label_id}</td>`
            const statusInfo = "<td>" + newTracking.status_info + "</td>";

            let reason = "";
            newTracking.arrJson.forEach((e, i) => {
                reason += "<span style='color:blue'>Lần " + ++i + ": </span>" + e.reason + ". Thời gian: " + e.action_time + "<br />";
            })
            reason = "<td style='color:red'>" + reason + "</td>";

            let pickMoney = "";
            newTracking.arrJson.forEach((e, i) => {
                pickMoney += "<span style='color:blue'>Lần " + ++i + ": </span>" + "<span>" + e.pick_money + "</span>";
            })
            pickMoney = "<td>" + pickMoney + "</td>";

            const handle = `<td>    
                            <div id=${newTracking.label_id} ></div> 
                            <input type="text" name="message" id="txtMessage">
                            <input type="text" name="label_id" id="label_id" style="display: none" value=${newTracking.label_id}>
                       
                            <button class="btn btn-success" id="btnSave">Save</button>
                        </td>`;

            $("tbody:eq(0)").before(tbody + label + statusInfo + reason + pickMoney + handle + tbodyEnd);

            const n = $("tbody").length;
            $("h4").text("Tổng: " + n);
        });

    io.socket.on('update-tracking', function (msg) {

        const { updatedTracking, status } = msg;
        console.log(updatedTracking)

        const label = updatedTracking.label_id;
        const handle = updatedTracking.arrHandling ? updatedTracking.arrHandling : "";

        let statusInfo = "";

        for (let i = 0; i < status.length; i++) {
            if (status[i].status_id == updatedTracking.arrJson[updatedTracking.arrJson.length - 1].status_id) {
                statusInfo = status[i].description;
            }
        }


        let reason = "";
        updatedTracking.arrJson.forEach((e, i) => {
            reason += "<span style='color:blue'>Lần " + ++i + ": </span>" + e.reason + ". Thời gian: " + e.action_time + "<br />";
        })
        reason = "<td style='color:red'>" + reason + "</td>";


        let pickMoney = "";
        updatedTracking.arrJson.forEach((e, i) => {
            pickMoney += "<span style='color:blue'>Lần " + ++i + ": </span>" + "<span>" + e.pick_money + "</span>" + "<br />";
        })
        pickMoney = "<td>" + pickMoney + "</td>";


        document.getElementById("status" + updatedTracking.label_id).innerHTML = statusInfo;
        document.getElementById("reason" + updatedTracking.label_id).innerHTML = reason;
        document.getElementById("pickMoney" + updatedTracking.label_id).innerHTML = pickMoney;
    });

    postMessage();
</script>